<h1>Profil Personalia</h1>

<p-card class="card-content">
    <h2>Nama : Fulan</h2>
    <p-tabView>
        <p-tabPanel header="Profil">
            <div class="profil">
                <div class="flex flex-column myinput">
                    <label>Title</label>
                    <input pInputText class="p-inputtext-sm" [formControl]="Form.controls['title']"/>
                </div>

                <div class="flex flex-column myinput">
                    <label>ID</label>
                    <input pInputText [formControl]="Form.controls['id']" class="p-inputtext-sm" />
                </div>

                <div class="flex flex-column myinput">
                    <label>Price</label>
                    <input pInputText class="p-inputtext-sm" [formControl]="Form.controls['price']"/>
                </div>

                <div class="flex flex-column myinput">
                    <label>Description</label>
                    <input pInputText class="p-inputtext-sm" [formControl]="Form.controls['description']"/>
                </div>

                <div class="flex flex-column myinput">
                    <label>Category</label>
                    <input pInputText class="p-inputtext-sm" [formControl]="Form.controls['category']"/>
                </div>


                <!-- <div class="flex flex-column myinput">
                    <label>Image</label>
                    <input pInputText class="p-inputtext-sm" [formControl]="Form.controls['image']"/>
                </div> -->
                <div class="input-component">
                    <div class="input-image" (click)="imgInput.click()" (dragover)="onImgDragOver($event)"
                        (drop)="onImgDropped($event)">
                        <img [src]="img_file">
                        <div class="input-image-browse">
                            <span>Drag & Drop atau Pilih</span>
                            <input #imgInput type="file" accept="image/*" (change)="onImgHandled($any($event))" [formControl]="Form.controls['image']">
                        </div>
                    </div>
                </div>

                <p-button label="Simpan" icon="pi pi-save" styleClass="p-button-raised p-button-success" (click)="onSave()"></p-button>

            </div>
            
        </p-tabPanel>


        <p-tabPanel header="Akun">
            <div class="akun">
                <app-personalia-detail-akun [idpersonalia_akun]="idpersonalia"></app-personalia-detail-akun>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Dokumen">
            <div class="dokumen">
                <app-personalia-detail-dokumen [idpersonalia_dokumen]="idpersonalia"></app-personalia-detail-dokumen>
            </div>
        </p-tabPanel>       

        <p-tabPanel header="Log Aktivitas">
            <div class="log">
                <app-personalia-detail-log [idpersonalia]="idpersonalia"></app-personalia-detail-log>
            </div>    
        </p-tabPanel>
    </p-tabView>
</p-card>

<p-toast position="top-right" [preventDuplicates]="false" sticky="true"></p-toast>