<div class="dialog-content">

    <div class="input-component">
        <label>Title<span class="input-required">*</span></label>
        <div>
            <input type="text" pInputText [formControl]="Form.controls['title']" class="w-full">
        </div>
    </div>

    <div class="input-component">
        <label>Price<span class="input-required">*</span></label>
        <div>
            <input type="text" pInputText [formControl]="Form.controls['price']" class="w-full">
        </div>
    </div>

    <div class="input-component">
        <label>Category<span class="input-required">*</span></label>
        <div>
            <input type="text" pInputText [formControl]="Form.controls['category']" class="w-full">
        </div>
    </div>

    <div class="input-component">
        <label>Description<span class="input-required">*</span></label>
        <div>
            <input type="text" pInputText [formControl]="Form.controls['description']" class="w-full">
        </div>
    </div>

    <div class="input-component">
        <div class="input-image" (click)="imgInput.click()" (dragover)="onImgDragOver($event)"
            (drop)="onImgDropped($event)">
            <img [src]="img_file">
            <div class="input-image-browse">
                <span>Drag & Drop atau Pilih</span>
                <input #imgInput type="file" accept="image/*" (change)="onImgHandled($any($event))" [formControl]="Form.controls['image']">
            </div>
        </div>
    </div>

   
</div>

<div class="dialog-footer">
    <p-button label="Batal" styleClass="p-button-danger p-button-text" (click)="onClose()"></p-button>

    <button pButton type="button" [loading]="loading" [disabled]="!Form.valid" label="Simpan" (click)="onSave()" styleClass="btn-myprimary"></button>
</div>
