<div class="flex flex-column myinput">
    <label>Tipe Username</label>
    <p-dropdown [options]="" placeholder="Pilih" optionLabel="name" class="p-inputtext-sm"></p-dropdown>
</div>

<div class="flex flex-column myinput">
    <label>Username</label>
    <input pInputText class="p-inputtext-sm" />
</div>

<div class="flex flex-column myinput">
    <label>Password</label>
    <p-password [feedback]="false" class="p-inputtext-sm"></p-password>
</div>

<p-button label="Simpan" icon="pi pi-save" styleClass="p-button-raised p-button-success" ></p-button>