<div class="container">
    <div class="login">
        <img src="assets/imgs/angular-logo.png">
        <h2>REGISTER</h2>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText placeholder="Username" [formControl]="Form.controls['username']">         
        </div>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <input type="password" pInputText placeholder="Password" [formControl]="Form.controls['password']">         
        </div>

        <button type="button" (click)="onRegister()">Register</button>
        <!-- <button pButton pRipple type="button" label="Login" class="p-button-rounded p-button-secondary" (click)="onLogin()"></button> -->

        <p><a routerLink="/login">Login</a></p>
    </div>
</div>

<p-toast position="top-right" [preventDuplicates]="false" sticky="true"></p-toast>

<!-- Remove On Production-->
<div class="foot">
    <a routerLink="/login">Login</a> | <a routerLink="/login2">Login 2</a>
</div>